@import "../../styles/colors";

.container {
  background-color: $color-black;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.dwnBtn {
  height: 100%;
  margin: auto;
}
.dwnBtn_container {
  height: 10vh;
  margin: auto;
}
