@import "../../styles/colors";

.container {
  background-color: $color-black;
  min-height: 100vh;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.dwnBtn {
  height: 100%;
  margin: auto;
}
.dwnBtn_container {
  height: 10vh;
  margin: auto;
}
.video_container {
  display: flex;
  align-items: center;
  min-height: 100vh;
  width: 50%;
  height: 100%;
}
.videocontent {
  display: flex;
  height: auto;
  width: 100%;
  min-width: 960px;
  min-height: 566px;
}
@media (max-width: 1950px) {
  .videocontent {
    display: flex;
    height: auto;
    width: 100%;
    min-width: 50vw;
  }
}
@media (max-width: 900px) {
  .container {
    min-height: 800px;
    flex-direction: column;
  }
  .videocontent {
    width: 100% !important;
    height: 50vh !important;
  }
}
