@import "../../styles/colors";
.header {
  background-color: $color-black;
  color: $color-dark-blue;
  height: 70px;
  z-index: 10;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  position: relative;
  &:before {
    content: "";
    background: $color-black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
  &:after {
    content: "";
    background: linear-gradient(
      -90deg,
      rgba(210, 253, 255, 0.6) 0%,
      rgba(2.5, 253, 255, 0.9) 40%,
      rgba(180, 223, 229, 0.9) 60%,
      rgba(0.98, 223, 229, 1) 100%
    );
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0.4rem;
    left: 0;
    z-index: 1;
  }
}
a.title {
  color: $color-dark-blue;
  z-index: 4;
  text-decoration: none;
  text-align: center;
  margin: auto 0;
  padding: 0 0.5rem;
  position: relative;
  overflow: hidden;
  transition: all 0.5s;
  &:hover {
    .title {
      &_h1,
      &_h2 {
        letter-spacing: 0.5rem;
        color: $color-yellow;
      }
    }
  }
  &:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;

    transition: 0.8s;
    z-index: 3;
  }
  &:hover:before {
    top: 0;
    background: none;
  }
}
nav {
  z-index: 11;
  position: relative;
  width: 250px;
  margin: auto 0;
}

a {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  margin: auto 0;
  font-weight: 400;
  letter-spacing: 0.1em;
}

// -----------------------------
.contain_effect {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
// -----------------------------
.title_h1 {
  transition: all 0.5s;
  color: $color-blue;
  font-size: 1.5em;
  z-index: 100;
  letter-spacing: 0.1em;
  margin: 0;
}
.title_h2 {
  transition: all 0.5s;
  color: $color-blue;
  font-size: 1em;
  z-index: 100;
  margin: 0;
}

.navList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding-right: 1rem;
}

.navItem {
  color: $color-blue;
  font-size: 0.9rem;
  margin: 0 1.3rem 0 0;
  text-decoration: none;
  transition: all 0.5s;
}

.navItem:hover {
  color: $color-yellow;
  letter-spacing: 0.5em;
}

.activeNavItem {
  color: $color-green2;
  font-weight: bold;
}
@media (max-width: 658px) {
  .header {
    display: block;
    height: 95px;
    padding-left: 0;
    a.title {
      h1 {
        padding-top: 0.5rem;
      }
    }
    nav {
      margin: 0.4rem 0;
      width: 100%;
      ul {
        justify-content: space-evenly;
        li {
          min-width: 111.83px;
          display: flex;
          justify-content: center;
          a {
            margin-right: 0;
          }
        }
      }
    }
  }
}
