$color-blue: #b4dfe5;
$color-salmon: #fc4445;
$color-green: #b4e5b9;
$color-green2: #aedfd6;
$color-yellow: #ffff00;
$color-purple: #b7b4e5;
$color-dark-blue: #303c6c;
$color-black: #000;
$color-white: #d2fdff;
