@import "../../styles/colors";
.thumbnails {
  background-color: rgba(174, 223, 214, 1);
  min-height: 100vh;
  display: grid;
  margin: auto;
  grid-template-columns: 1fr;
}
.thumbscontainer {
  display: grid;
  display: grid;
  margin: auto;
  width: 100%;
  grid-template-columns: 1fr 1fr;
}

.thumbnail {
  margin: 50px auto 50px auto;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.name_title {
  margin: 0 auto;
  padding: 10px 0;
  display: grid;
  justify-content: center;
  color: $color-black;
  letter-spacing: 0.1rem;
}

.headshot {
  width: 250px;
  height: 250px;
  margin: 0;
  padding: 0;
  background-position: center;
  border-radius: 50%;
  border: solid 3px #f7f9fb;
}

.headshot_abe {
  width: 250px;
  height: 250px;
  margin: 0;
  padding: 0;
  background-image: url("../../images/bigabe.jpg");
  background-repeat: no-repeat;
  background-position-y: -12px;
  border-radius: 50%;
  border: solid 3px #f7f9fb;
}

.abesface {
  width: 250px;
  height: 250px;
  margin: auto;
  border-radius: 50%;
  border: solid 3px #f7f9fb;
}

.aboutUsContainer {
  background-color: rgba(0, 0, 0, 0.9);
  color: $color-white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 50vh;
  padding: 2rem 4rem;
}
.aboutLink {
  padding-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  margin: auto;
  max-height: 4rem;
  text-decoration: none;
  &:hover {
    .h2aboutStyle {
      color: white;
    }

    .circleFill {
      &:before {
        top: 0;
      }
    }

    .h2us {
      color: Black;
      transform: rotateY(360deg);
    }
  }
}

.abouttextContainer {
  padding-bottom: 2rem;
}
.h2aboutStyle {
  color: $color-white;
  transition: all 0.5s;
  display: inline-block;
  margin: auto 0.5rem auto auto;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.7;
}
.h2us {
  color: $color-green;
  display: block;
  position: relative;
  transition: 0.5s;
  z-index: 3;
  margin: auto 0;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.7;
}
.circleFill {
  margin: auto auto auto 0;
  display: inline-block;
  position: relative;
  bottom: 15px;
  overflow: hidden;
  z-index: 1;
  padding: 0.5rem;
  border-radius: 50%;
  background: none;

  &:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: $color-green;
    transition: 0.5s;
    z-index: 2;
  }
}

@media (max-width: 765px) {
  .h2aboutStyle {
    font-size: 1.5rem;
  }
  .h2us {
    font-size: 2rem;
  }
}
@media (max-width: 616px) {
  .h2aboutStyle {
    font-size: 1rem;
  }
  .h2us {
    font-size: 1.5rem;
    white-space: nowrap;
    overflow: hidden;
  }
}
@media (max-width: 500px) {
  .aboutLink {
    padding-bottom: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .h2aboutStyle {
    text-align: center;
    margin: auto;
    display: flex;
  }
  .h2us {
    text-align: center;
    min-width: 52px;
  }
  .circleFill {
    margin: auto;
    min-width: 52px;
    display: flex;
  }
}
@media (max-width: 603px) {
  .thumbnails {
    min-height: 850px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 2rem;
  }
  .thumbnail {
    height: 350px;
  }
}
