@import "../../styles/colors";
.thumbnails {
  background-color: rgba(174, 223, 214, 1);
  min-height: 100vh;
  height: 100%;
  margin: auto;
}
.thumbscontainer {
  padding-top: 15vh;
  height: 70vh;
  display: grid;
  margin: auto;
  width: 100%;
  grid-template-columns: 1fr 1fr;
}

.thumbnail {
  margin: 50px auto 50px auto;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.name_title {
  margin: 0 auto;
  padding: 10px 0;
  display: grid;
  justify-content: center;
  color: $color-black;
  letter-spacing: 0.1rem;
}

.headshot {
  width: 250px;
  height: 250px;
  margin: 0;
  padding: 0;
  background-position: center;
  border-radius: 50%;
  border: solid 3px #f7f9fb;
}

.headshot_abe {
  width: 250px;
  height: 250px;
  margin: 0;
  padding: 0;
  background-image: url("../../images/aberesize.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  border: solid 3px #f7f9fb;
}

.abesface {
  width: 250px;
  height: 250px;
  margin: auto;
  border-radius: 50%;
  border: solid 3px #f7f9fb;
}

.paragraph {
  display: block;
  margin: 2rem auto;
  width: 68%;
  text-align: center;
  height: 20vh;
}

.dwnBtn_container {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: center;
  align-items: flex-end;
}
.dwnBtn {
  height: 40px;
  margin: auto;
  width: 40px;
}

@media (max-width: 765px) {
  .thumbnails {
    min-height: 450px;
  }
}
@media (max-width: 765px) {
  .thumbnails {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .paragraph {
    margin: auto;
    align-self: center;
    width: 95%;
    text-align: center;
    height: 200px;
  }
  .thumbscontainer {
    padding-top: 1rem;
    grid-template-columns: 1fr;
    height: 700px;
  }
  .thumbnail {
    padding-bottom: 1rem;
    margin: 0 auto;
    width: 250px;
    height: 250px;
    border-radius: 50%;
  }
  .h2aboutStyle {
    font-size: 1.5rem;
  }
  .h2us {
    font-size: 2rem;
  }
}
@media (max-width: 616px) {
  .h2aboutStyle {
    font-size: 1rem;
  }
  .h2us {
    font-size: 1.5rem;
    white-space: nowrap;
    overflow: hidden;
  }
}
@media (max-width: 603px) {
  .thumbnails {
    min-height: 1000px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    padding: 2rem 0;
  }
}
