@import "../../styles/colors";

.container {
  width: 100%;
  max-height: 100px;
  height: 50px;
  display: flex;
  position: relative;
  justify-content: center;
}

.icon {
  margin: 0 auto;
  width: 2rem;
  height: 100px;
  z-index: 2;
  transition: all 0.3s;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
  }
}

.iconWht {
  margin: 0 auto;
  filter: invert(91%) sepia(45%) saturate(2%) hue-rotate(69deg) brightness(109%)
    contrast(100%);
  width: 2rem;
  height: 100px;
  z-index: 2;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
  }
}
