@import "../../styles/colors";

.container {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.icon {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 0;
  width: 2rem;
  height: 100px;
  z-index: 2;
  transition: all 0.3s;
  cursor: pointer;
  &:hover {
    filter: invert(38%) sepia(0%) saturate(635%) hue-rotate(135deg)
      brightness(98%) contrast(80%);
  }
}

.iconWht {
  margin: 0 auto;
  filter: invert(91%) sepia(45%) saturate(2%) hue-rotate(69deg) brightness(109%)
    contrast(100%);
  width: 2rem;
  height: 100px;
  z-index: 2;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  &:hover {
    filter: invert(16%) sepia(14%) saturate(18%) hue-rotate(14deg)
      brightness(102%) contrast(90%);
  }
}
