@import "../../styles/colors";

.container {
  background-color: $color-white;
  height: 100vh;
  width: 100%;
  padding: 2rem 4rem 0.5rem 4rem;
}
.container_columns {
  background-color: $color-white;
  height: 85vh;
  width: 100%;
  margin: 0 auto;
  padding: 2rem 4rem 0.5rem 4rem;
}
.title {
  text-align: center;
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
  padding: 32px 0;
}

.container_content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 70%;
}

.column_ {
  &1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    padding-bottom: 0.5rem;
  }
  &2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
  }
  &items {
    margin: 0 auto 40px auto;
    text-align: center;
    width: 50%;
    line-height: 1.6;
  }
}

.dwnBtn_container {
  display: flex;
  width: 100%;
  height: 10vh;
  justify-content: center;
  align-items: flex-end;
}
.dwnBtn {
  height: 40px;
  margin: auto;
  width: 40px;
}

@media (max-width: 1030px) {
  .container_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70%;
  }

  .column_items {
    font-size: 1.5rem;
  }
}

@media (max-width: 900px) {
  .container {
    min-height: 800px;
  }
}
@media (max-width: 715px) {
  .container {
    background-color: $color-white;
    height: 100%;
    width: 100%;
    padding: 2rem 0.5rem 0.5rem 0.5rem;
  }
  .container_columns {
    background-color: $color-white;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 2rem 0.5rem 0.5rem 0.5rem;
  }
  .column_items {
    margin: 0 auto 30px auto;
  }
  .container_columns {
    padding: 2rem 0.5rem 0.5rem 0.5rem;
  }
}
@media (max-width: 582px) {
  .column_items {
    width: 80%;
  }
  .container_columns {
    padding: 2rem 0.5rem 0.5rem 0.5rem;
  }
}
