@import "../../styles/colors";

.box_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 90vh;
  margin: 0;
  position: relative;
}

.box_container:hover .box_img_sm {
  filter: blur(3px);
  opacity: 0.9;
  transform: scale(0.98);
  box-shadow: none;
}
.box_container:hover .box_img_lg {
  filter: blur(3px);
  opacity: 0.9;
  transform: scale(0.98);
  box-shadow: none;
}
.box_img_sm {
  height: 100%;
  width: auto;
  margin: 0;
  transition: 0.5s all;
}
.player_styles {
  height: 100%;
  width: auto;
  margin: 0;
  transition: 0.5s all;
}

.box_container:hover .box_img_sm:hover {
  transform: scale(1);
  filter: blur(0px);
  opacity: 1;
  box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.5);
}
.box_container:hover .player_styles:hover {
  transform: scale(1);
  filter: blur(0px);
  opacity: 1;
  box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.5);
}

$animate-speed: 0.3s;

.tile {
  opacity: 0.99;
  overflow: hidden;
  display: inline-block;
  position: relative;
  text-align: left;
  height: 50vh;
  margin: auto 0;
  &:before {
    content: "";
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.7) 100%
    );
    width: 100%;
    height: 50%;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
    transition-property: top, opacity;
    transition-duration: $animate-speed;
  }

  &:focus,
  &:hover {
    &:before,
    span {
      opacity: 1;
    }
    &:before {
      top: 50%;
    }
    span {
      top: 0;
    }

    .tileTitle {
      transition-delay: 0.15s;
    }
    .tileInfo {
      transition-delay: 0.25s;
    }
  }
}

.details {
  font-size: 16px;
  padding: 20px;
  color: $color-white;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
}

span {
  display: block;
  opacity: 0;
  position: relative;
  top: 100px;
  transition-property: top, opacity;
  transition-duration: $animate-speed;
  transition-delay: 0s;
}

.tile {
  &Title {
    line-height: 1;
    font-weight: 600;
    font-size: 18px;
  }

  &Info {
    line-height: 1.2;
    margin-top: 5px;
    font-size: 12px;
  }
}

@media (max-width: 900px) {
  .box_container {
    display: flex;
    flex-direction: column;
    justify-content:center;
    flex-wrap: wrap;
    height: 90vh;
    margin: 0;
    position: relative;
  }
  .player_styles {
    display: none;
    height: 0;
    width: 0;
    margin: 0;
    transition: 0.5s all;
  }
  #burrowVideo {
    display: none;
    height: 0;
    width: 0;
  }
  .tile {
margin: auto;
height: auto;
  }
}
